footer {
  padding: rem(72) 0 rem(56) 0;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @media (max-width: 768px) {
      flex-direction: column;

      a + a {
        margin-top: rem(24);
      }
    }

    a {
      display: flex;
      align-items: center;
      transition: all 0.2s;

      img {
        margin-right: rem(16);
      }

      &:hover {
        color: var(--gold);
      }
    }
  }

  p {
    margin-top: rem(40);
    text-align: center;
    line-height: 170%;
  }
}